@import url("./global/globalStyles.css");
@import url("./global/variables.css");
@import url("./pages/index/partials/header.css");
@import url("./pages/index/partials/main.css");
@import url("./pages/index/partials/about.css");
@import url("./pages/index/partials/skills.css");
@import url("./pages/index/partials/services.css");
@import url("./pages/index/partials/animation.css");

@media screen and (max-width: 1280px) {
  .container {
    max-width: 960px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 95%;
    width: 100%;
  }
}
