@import url("./globalStyles.css");
@import url("./variables.css");
@import url("./stylepages/header.css");
@import url("./stylepages/main.css");
@import url("./stylepages/about.css");
@import url("./stylepages/skills.css");
@import url("./stylepages/services.css");
@import url("./animation.css");

@media screen and (max-width: 1280px) {
  .container {
    max-width: 960px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 95%;
    width: 100%;
  }
}
