:root {
  --color-primary: #5956e9;
  --color-primary30: #5956e94d;
  --color-primary-dark: #4c4ac2;
  --color-secondary: #ffd109;
  --bg-light: #f4efff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-text-gray: #8a90a2;
  --color-text-black: #292930;
  --color-dark-blue: #2d1762;
}
